@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* @import url('style.css'); */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    overflow-x: hidden !important;
    overflow-y: scroll;
    width: 100%;
    /* background-color: #EDEDED; */
    /* height: 100%; */
}

#loader {
    background: linear-gradient(to right, #5e92db, #39b2a7);
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
}



#loader-img {
    animation: show-hide 2s linear 0s infinite normal;
    height: 40vh;
}

#hrs {
    display: none;
    color: #fff;
    background-color: #fff;
    border: #fff;
    width: 100%;
    height: 2px;
}


@keyframes show-hide {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}



.notfound {
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 50px;
    flex: 1;
    margin-top: -100px;
}


.notfound h2 {
    text-transform: uppercase;
    font-size: 2rem;
    color: #999;
    padding: 12px;
    font-weight: 950;
}

.active_img {
    width: 15vw;
}


#logo {
    width: 10rem;
    height: 8rem;
    z-index: 10;
}

#logo-img {
    width: 5rem;
    height: 6rem;
    left: 0;
    z-index: 10;
    margin: -2rem;
}

#logo:hover {
    -webkit-animation-name: transformx;
    animation-name: transformx;
    -webkit-animation: -webkit-transformx 0.8s linear;
    animation: transformx 0.8s ease;
}

@-webkit-keyframes transformx {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes transformx {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }

    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }

    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }

    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.navbar {
    z-index: 100;
    /* height: 7.6rem !important; */
    /* background-color: rgb(49, 95, 138) !important; */
    background: linear-gradient(to right,
            rgb(94, 146, 219),
            rgb(57, 178, 167)) !important;
    opacity: 0.88 !important;
}

#nav-icon {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    zoom: 35%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    border: none !important;
}

.btn-outline-primary:focus {
    box-shadow: none;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 7px;
    width: 50%;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
    left: 0px;
    border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
    top: 0px;
}

#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
    top: 18px;
}

#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
    top: 36px;
}

#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),
#nav-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#nav-icon.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#nav-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#nav-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#nav-icon.open span:nth-child(5) {
    left: 5px;
    top: 29px;
}

#nav-icon.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
}




.h2s {
    /* background-color: rgb(118, 206, 221); */
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h2s h1 {
    color: #315F8A;
    font-size: 3rem;
    font-weight: 1000;
}



main {
    padding-top: 200px;
}

.section-a {
    background-color: #EDEDED;
    min-height: 60vh;
}


.my-container {
    /* background: linear-gradient(to right, #5e92db, #39b2a7); */
    min-height: 40vh;
    /* justify-content: space-evenly; */
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    /* background-image: url("../Resources/images/bg_black_2.png"); */
    /* background-color: pink !important; */
    /* padding-top: 110px; */
}

.my-row {
    min-height: 40vh;
    width: 95vw;
    /* background-color: red; */
    overflow-y: hidden;
}

.main-column {
    /* background-color: rgb(8, 78, 131); */
    height: 38rem;
    /* border: 3px solid;   */
    margin-bottom: 50px;
}


.my-column-img {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    height: 16rem;
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 10;
    /* box-shadow: 0 16px 8px 0 rgba(0, 0, 0, 0.3); */
}

.my-column-img img {
    flex: 1;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

.my-column-img img:hover {
    cursor: pointer;
    transform: scale(1.06);
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.3);
}

.my-column-data {
    /* margin-top: 3rem; */
    margin-top: 0;
    background-color: #ffffff;
    height: 17rem;
    display: flex;
    flex-direction: column;
    /* color: rgb(238, 225, 225); */
    color: #000000;
    text-transform: uppercase;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 16px 8px 0 rgba(0, 0, 0, 0.3);
}

.upper-column {
    display: flex;
    flex-direction: row;
    /* background-color: chocolate; */
    height: 10rem !important;
    align-items: center;
    margin-top: 5%;
    justify-content: space-between;
    /* color: rgb(253, 249, 249); */
    opacity: 0.9;
    font-weight: bold;
    font-size: 1rem;
}

.column-from {
    /* background-color: cornflowerblue; */
    width: 40%;
    padding-right: 10px;
    padding-left: 10px;
}

.column-from-to-img {
    /* background-color: pink; */
    width: 20%;
    align-items: center;
    justify-content: center;
}

.column-from-to-img img {
    width: 50px;
    height: 50px;
    /* padding: 20px; */
}

.column-to {
    /* background-color: palevioletred; */
    width: 40%;
    padding-right: 10px;
    padding-left: 10px;
}

.lower-column {
    /* background-color: crimson; */
    display: flex;
    height: 4rem;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    /* margin: 5%;  */
    text-align: center;
}

.lower-column p {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 0.8rem;
}

.has {
    /* color: #fff; */
    opacity: 0.85;
    font-size: 1.1rem;
    font-weight: 800;
}


.column-content {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    z-index: 2;
}


.button-part {
    height: 5rem;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 5rem;
    padding-bottom: 1rem;
}

.button-part button {
    color: #fff;
    background-color: #315F8A;
    border-color: #315F8A;
}

.contact-container {
    align-items: center;
    justify-content: center;
    width: 100%;
}

.contact-header {
    align-items: center;
    text-align: center;
    width: 100%;
}

.contact-header h3 {
    font-size: 2.2rem;
    text-align: center;
    font-weight: 850;
    text-transform: uppercase;
}

.contact-header p {
    color: #666666;
    font-size: 1.2rem;
    font-weight: lighter;
}

.row-contact-info {
    align-items: center;
    text-align: center;
}

.icon-contact {
    width: 6rem;
    padding-bottom: 1.2rem;
    height: 8rem;
    align-items: center;
    text-align: center;
}

#a4 {
    width: 7.4rem;
}

.row-contact-info h3 {
    font-size: 1.4rem;
    color: #999999;
    font-weight: bold;
}

.row-contact-info p a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
}

.contact-form {
    margin-top: 7rem;
}

#contact-button {
    background-color: rgb(8, 78, 131);
    border: none;
    color: white;
    padding: 0.8rem;
    font-weight: bold;
    border-radius: 3rem;
    margin-top: 1rem;
    opacity: 0.8;
}

#contact-button:hover {
    opacity: 1;
}

#no-margin {
    margin-bottom: 0px;
}

footer {
    width: 100vw;
    background-color: rgb(49, 95, 138);
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 20vh;
}

footer .container-fluid {
    /* height: 100%; */
    min-height: 20vh;
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer .container-fluid .row {
    /* height: 100%; */
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding: 10px 0px;
}

footer .container-fluid .row .column {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.copyright {
    font-size: 1rem;
    height: 60%;
    color: rgb(205, 205, 205);
    line-height: 2rem;
    font-weight: 800;
    text-align: center;
}

.credits {
    font-size: 1.2rem;
    align-items: center;
    color: rgb(236, 225, 225);
    height: 40%;
    font-weight: 1000;
    text-align: center;
}

#a6 {
    color: #fff;
}

.fir {
    width: 6rem;
    height: 7rem;
    align-items: center;
}

.sec {
    width: 10rem;
    height: 7rem;
    align-items: center;
    margin: -2rem;
}


#google_translate_element {
    padding: 3rem 0rem;
    width: 10rem !important;
}

footer .container-fluid,
footer .container-fluid .row {
    height: auto !important;
}

.nav-item {
    /* background-color: pink !important; */
    margin: 8px;
    font-size: 1.2rem;
}

.nav-link {
    font-weight: 500;
}

.logout {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;
    /* background-color: #315F8A; */
    color: rgba(20, 1, 1, 0.70);
    /* border: 2px solid #000; */
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}

.nav-button {
    text-decoration: none;
    float: right;
    padding: 12px;
    margin: 15px;
    color: white;
    width: 80px;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden;
}

.nav-a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-a i {
    font-size: 1.8rem;
}

.nav-a:hover {
    width: 180px;
    text-decoration: none;
}

.nav-a:hover .logout {
    opacity: .9;
    background-color: rgba(20, 1, 1, 0.568) !important;
    transition: transform 250ms;
}

.nav-link:hover {
    color: rgba(0, 0, 0, 0.75) !important;
    transition: 0.9s;
}

.nav-link {
    color: #fff !important;
}

.nav-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) scaleX(0);
    transform-origin: 50% 50%;
    width: 100%;
    height: 4px;
    background-color: rgba(20, 1, 1, 0.568);
    transition: transform 250ms;
}

.nav-link:hover::after {
    transform: translateX(-50%) scaleX(1);
}

@media screen and (max-width: 991px) {

    #hrs {
        display: block;
    }

    .nav-a {
        width: 180px;
    }

    .logout {
        opacity: 1;
        color: #ffffff;
    }

    .logout:hover {
        color: rgba(0, 0, 0, 0.75);
    }
}

@media screen and (max-width: 766px) {

    .my-row {
        justify-content: center;
    }

    .h2s h1 {
        font-size: 2.5rem;
    }

}

@media screen and (max-width: 550px) {
    .h2s h1 {
        font-size: 1.9rem;
    }
}