@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/* @import url('style.css'); */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  overflow-x: hidden;
  width: 100%;
  /* height: 100%; */
}

#loader {
  background: linear-gradient(to right, #5e92db, #39b2a7);
  position: absolute;
  z-index: 10000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}

#loader-img {
  animation: show-hide 2s linear 0s infinite normal;
  height: 40vh;
}

@keyframes show-hide {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#logo {
  width: 10rem;
  height: 8rem;
  z-index: 10;
}

#logo-img {
  width: 5rem;
  height: 6rem;
  left: 0;
  z-index: 10;
  margin: -2rem;
}

#logo:hover {
  -webkit-animation-name: transformx;
  animation-name: transformx;
  -webkit-animation: -webkit-transformx 0.8s linear;
  animation: transformx 0.8s ease;
}

@-webkit-keyframes transformx {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes transformx {
  15% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

  30% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  50% {
    -webkit-transform: translateX(3px);
    transform: translateX(3px);
  }

  65% {
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
  }

  80% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.navbar {
  z-index: 100;
  /* height: 7.6rem !important; */
  /* background-color: rgb(49, 95, 138) !important; */
  background: linear-gradient(to right,
      rgb(94, 146, 219),
      rgb(57, 178, 167)) !important;
  opacity: 0.88 !important;
}

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  zoom: 35%;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  outline: none !important;
  border: none !important;
}

.btn-outline-primary:focus {
  box-shadow: none;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon span:nth-child(1),
#nav-icon span:nth-child(2) {
  top: 0px;
}

#nav-icon span:nth-child(3),
#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon span:nth-child(5),
#nav-icon span:nth-child(6) {
  top: 36px;
}

#nav-icon.open span:nth-child(1),
#nav-icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(2),
#nav-icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}

main {
  margin-top: 200px;
}

.my-container {
  /* background: linear-gradient(to right, #5e92db, #39b2a7); */
  min-height: 40vh;
  /* justify-content: space-evenly; */
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.my-row {
  width: 80vw;
  display: flex;
  height: 18rem;
  align-items: center;
  box-shadow: 0 16px 80px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 5rem;
  border: 1px solid rgba(0, 0, 0, 0.3);

  transform: translateX(-100%);
  opacity: 0;
  /* zoom: 10%; */
}

.slide-active {
  transform: translateX(0%);
  opacity: 1;
  /* zoom: 100%; */
  transition: all 1.5s ease-in;
}

.my-column-img {
  background-color: #ccc;
  /* display: flex; */
  /* align-items: flex-start; */
  /* justify-content: flex-start; */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.my-column-img img {
  /* border: 2px solid; */
  flex: 1;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
  /* border-radius: 100%; */
  /* background-size: contain; */
}

.my-column-img img:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.3);
}

.my-column-data {
  /* background-color: chartreuse; */
  height: 100%;
  display: flex;
  flex-direction: column;
  color: rgb(238, 225, 225);
  text-transform: uppercase;
}

.upper-column {
  display: flex;
  flex-direction: row;
  /* background-color: chocolate; */
  height: 60%;
  align-items: center;
  justify-content: space-between;
  margin: 5%;
  color: rgb(253, 249, 249);
  opacity: 0.9;
  font-weight: bold;
  font-size: 1rem;
}

.column-from {
  /* background-color: cornflowerblue; */
  width: 40%;
  padding-right: 10px;
  padding-left: 10px;
}

.column-from-to-img {
  /* background-color: pink; */
  width: 20%;
  align-items: center;
  justify-content: center;
}

.column-from-to-img img {
  width: 50px;
  height: 50px;
  /* padding: 20px; */
}

.column-to {
  /* background-color: palevioletred; */
  width: 40%;
  padding-right: 10px;
  padding-left: 10px;
}

.lower-column {
  /* background-color: crimson; */
  display: flex;
  height: 30%;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  margin: 5%;
  text-align: center;
}

.lower-column p {
  padding-right: 10px;
  padding-left: 10px;
  font-size: 0.8rem;
}

.has {
  color: #fff;
  opacity: 0.85;
  font-size: 1.1rem;
  font-weight: 800;
}

.straight {
  background-color: #5e92db;
  /* color: #39b2a7 !important; */
  align-self: flex-start;
  margin-left: 20px;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.inverted {
  background-color: #39b2a7;
  align-self: flex-end;
  margin-right: 20px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.inverted .my-column-img,
.inverted .my-column-img img {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.contact-container {
  align-items: center;
  justify-content: center;
  width: 100%;
}

.contact-header {
  align-items: center;
  text-align: center;
  width: 100%;
}

.contact-header h3 {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 850;
  text-transform: uppercase;
}

.contact-header p {
  color: #666666;
  font-size: 1.2rem;
  font-weight: lighter;
}

.row-contact-info {
  align-items: center;
  text-align: center;
}

.icon-contact {
  width: 6rem;
  padding-bottom: 1.2rem;
  height: 8rem;
  align-items: center;
  text-align: center;
}

#a4 {
  width: 7.4rem;
}

.row-contact-info h3 {
  font-size: 1.4rem;
  color: #999999;
  font-weight: bold;
}

.row-contact-info p a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #000;
}

.contact-form {
  margin-top: 7rem;
}

#contact-button {
  background-color: rgb(8, 78, 131);
  border: none;
  color: white;
  padding: 0.8rem;
  font-weight: bold;
  border-radius: 3rem;
  margin-top: 1rem;
  opacity: 0.8;
}

#contact-button:hover {
  opacity: 1;
}

#no-margin {
  margin-bottom: 0px;
}

footer {
  width: 100vw;
  background-color: rgb(49, 95, 138);
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

footer .container-fluid {
  /* height: 100%; */
  min-height: 20vh;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer .container-fluid .row {
  /* height: 100%; */
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 10px 0px;
}

footer .container-fluid .row .column {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.copyright {
  font-size: 1rem;
  height: 60%;
  color: rgb(205, 205, 205);
  line-height: 2rem;
  font-weight: 800;
  text-align: center;
}

.credits {
  font-size: 1.2rem;
  align-items: center;
  color: rgb(236, 225, 225);
  height: 40%;
  font-weight: 1000;
  text-align: center;
}

footer .container-fluid,
footer .container-fluid .row {
  height: auto !important;
}

#a6 {
  color: #fff;
}

.fir {
  width: 6rem;
  height: 7rem;
  align-items: center;
}

.sec {
  width: 10rem;
  height: 7rem;
  align-items: center;
  margin: -2rem;
}

.error {
  color: rgb(230, 6, 6);
  font-size: 0.8em;
}

#login_error {
  background-color: #666666;
  width: 10px;
  height: 20px;
  z-index: 100000;
}

#google_translate_element {
  padding: 3rem 0rem;
  width: 10rem !important;
}

footer .container-fluid,
footer .container-fluid .row {
  height: auto !important;
}

.nav-item {
  /* background-color: pink !important; */
  margin: 8px;
  font-size: 1.2rem;
}

.nav-link {
  font-weight: 500;
}

.logout {
  font-size: 1.3rem;
  font-family: 'Oswald', sans-serif;
  position: relative;
  right: -18px;
  bottom: -4px;
  overflow: hidden;
  letter-spacing: 3px;
  opacity: 0;
  transition: opacity .45s;
  -webkit-transition: opacity .35s;
  /* background-color: #315F8A; */
  color: rgba(20, 1, 1, 0.70);
  /* border: 2px solid #000; */
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
}

.nav-button {
  text-decoration: none;
  float: right;
  padding: 12px;
  margin: 15px;
  color: white;
  width: 80px;
  transition: width .35s;
  -webkit-transition: width .35s;
  overflow: hidden;
}




.nav-a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-a i {
  font-size: 1.8rem;
}

.nav-a:hover {
  width: 180px;
  text-decoration: none;
}

.nav-a:hover .logout {
  opacity: .9;
}


.nav-link:hover {
  color: rgba(0, 0, 0, 0.75) !important;
  transition: 0.9s;

}



.nav-link {
  color: #fff !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  width: 100%;
  height: 4px;
  background-color: rgba(20, 1, 1, 0.568);
  transition: transform 250ms;
}

.nav-link:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.section-a {
  background-color: #fff;
  min-height: 75vh;
}

.share-column {
  background-color: #fff;
}

.grab-column {
  background-color: #fff;
}

.grab-image {
  height: 20rem;
  width: 28rem;
  position: relative;
  right: 85px;
}

.share-image {
  height: 20rem;
  width: 30rem;
}

.heading-transactions {
  margin-bottom: 100px;
  padding: 3rem;
}

.heading-transactions h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

hr {
  border: none;
  height: 1px;
  color: #999;
  background-color: #999;
  width: 50vw;
}

.container-top {
  /* background-color: blue; */
  padding: 10px !important;
}

.column {
  /* background-color: #5e92db; */
}

.column-content {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.ag {
  /* background-color: aqua; */
  padding: 15px;
}

.ag h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #315F8A;
}

.row {
  /* background-color: aqua; */
}

.column-image {
  /* background-color: red; */
  padding: 1px;
  background-size: cover;
}

#hrs {
  display: none;
  color: #fff;
  background-color: #fff;
  border: #fff;
  width: 100%;
  height: 2px;
}

#arrow {
  -webkit-transition: border 0.2s linear;
  -moz-transition: border 0.2s linear;
  -ms-transition: border 0.2s linear;
  -o-transition: border 0.2s linear;
  transition: border 0.2s linear;
  text-decoration: none;
  line-height: 0;
  font-size: 32px;
  height: 0;
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
}

.arrow1 {
  border-right: 90px solid rgb(94, 146, 219);
}

#arrow>span {
  -webkit-transition: margin 0.1s linear;
  -moz-transition: margin 0.1s linear;
  -ms-transition: margin 0.1s linear;
  -o-transition: margin 0.1s linear;
  transition: margin 0.1s linear;
  font-family: "Open Sans", "Courier New", Courier, monospace;
  line-height: 0;
  margin-left: 44px;
  margin-top: -1px;
  position: absolute;
  display: block;
  color: white;
  height: 0;
}

.arrow2 {
  transform: rotateY(180deg);
  border-right: 90px solid rgb(57, 178, 167);
}

#arrow:hover {
  border-right-color: #333;
}

#arrow:hover>span {
  margin-left: 48px;
}


#no-margin {
  margin-top: 200px;
}


span {
  transition: all 0.65s ease;
  color: #999;
}


span.fades {
  color: rgb(57, 178, 167) !important;

}

.notfound {
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 50px;
  flex: 1;
  margin-top: -100px;
}


.notfound h2 {
  text-transform: uppercase;
  font-size: 2rem;
  color: #999;
  padding: 12px;
  font-weight: 950;
}

.active_img {
  width: 15vw;
}


span.fades1 {
  color: rgb(57, 178, 167) !important;
  /* display: none; */
}


@media screen and (max-width: 1200px) {
  #a2 img {
    width: 14rem;
    height: 10rem;
    margin: 0px -30px;
  }

  .grab-image {
    height: 18rem;
    width: 24rem;
    position: relative;
    right: 85px;
  }

  .share-image {
    height: 18rem;
    width: 24rem;
  }

  .ag h1 {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1000px) {
  #logo {
    width: 8rem;
    height: 6.5rem;
  }

  .ag h1 {
    font-size: 1.4rem;
    font-weight: bold;
  }

  #logo-img {
    width: 3rem;
    height: 4rem;
    margin: -1.7rem;
  }

  .btns a {
    width: 5.5rem;
  }

  .grab-image {
    height: 15rem;
    width: 20rem;
    position: relative;
    right: 85px;
  }

  .share-image {
    height: 15rem;
    width: 20rem;
  }

  #arrow {
    font-size: 18px;
    border-bottom: 30px solid transparent;
    border-top: 30px solid transparent;
  }

  #arrow>span {
    margin-left: 20px;
    margin-top: -1px;
  }

  .arrow1 {
    border-right: 50px solid rgb(94, 146, 219);
  }

  .arrow2 {
    border-right: 50px solid rgb(57, 178, 167);
  }

  #arrow:hover>span {
    margin-left: 26px;
  }
}

@media screen and (max-width: 991px) {

  #hrs {
    display: block;
  }

  .nav-a {
    width: 180px;
  }

  .logout {
    opacity: 1;
    color: #ffffff;
  }

  .logout:hover {
    color: rgba(0, 0, 0, 0.75);
  }

  .nav-a:hover .logout {
    background-color: rgba(20, 1, 1, 0.568) !important;
    transition: transform 250ms;
  }
}


@media screen and (max-width: 979px) {
  body {
    margin-top: 200px;
  }
}

/* @media screen and (max-width: 900px) {
  .upper-column {
    font-size: 0.8rem;
  }

  .lower-column p {
    font-size: 0.8rem;
  }

  .has {
    font-size: 0.9rem;
    font-weight: 700;
  }

  .row {
    width: 85vw;
  }

  .row-col {
    flex-direction: column;
  }
} */

@media screen and (max-width: 850px) {
  .icon-contact {
    width: 4rem;
    height: 6rem;
  }

  #a4 {
    width: 5.4rem;
    height: 5.5rem;
  }

  .row-contact-info h3 {
    font-size: 1.4rem;
  }

  .row-contact-info p a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 767px) {
  .my-row {
    height: auto;
  }

  .inverted,
  .straight {
    align-self: center;
    border-radius: 2rem;
    justify-self: center;
    margin-left: 0;
    margin-right: 0;
  }

  .my-column-img img {
    border-radius: 2rem 2rem 0rem 0rem !important;
  }

  .my-column-img {
    border-radius: 2rem 2rem 0rem 0rem !important;
  }



}

/* @media screen and (max-width: 680px) {
  .fa {
    font-size: 3rem;
  }
} */

@media screen and (max-width: 600px) {
  #logo-img {
    margin-left: 2rem !important;
  }
}

@media screen and (max-width: 575px) {
  body>main>section>div>div:nth-child(1)>div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .grab-image {
    right: 0;
  }

  .column-image {
    display: flex;
    justify-content: center;
  }

  body>main>section>div>div>div {
    width: 100vw !important;
  }

  .share-column {
    margin-bottom: 100px;
  }

  .new-row {
    display: flex;
  }

  .new-row .column-image {
    order: 1;
  }

  .new-row .column-content {
    order: 2;
  }

  .heading-transactions {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .heading-transactions h2 {
    font-size: 1.9rem;
    justify-self: center;
  }

  .heading-transactions hr {
    margin: auto !important;
  }

}

@media screen and (max-width: 480px) {
  .my-column-img {
    height: 16rem;
  }

  .upper-column {
    font-size: 0.68rem;
  }

  .lower-column p {
    font-size: 0.78rem;
  }

  .has {
    font-size: 0.75rem;
    font-weight: 700;
  }

  .column-from-to-img img {
    width: 40px;
    height: 40px;
  }
}